form {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 50px); /* 647px */
    /* 100vh = screen height size, 50px é igual ao tamanho do header, assim fica ocupando a tela toda sem sobra, funcionando em 
    monitores com tamanhos diferentes responsivamente :D. */
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--fundo-secundaria);
}

.form-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.form-box-linha {
    margin: 15px;
    padding: 5px 10px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    height: 68px;
    background-color: var(--fundo-primaria);
    color: var(--texto-primaria);
}

.input-box-desc {
    display: flex;
    width: 100%;
}

.button-box {
    display: flex;
    padding: 0 15px;
    justify-content: center;
    align-items: baseline;
    flex-grow: 2;
}

.button-box button {
    display: flex;
    align-items: center;
}

/*  */


.form-input-label{
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0 15px 0 15px;
}

.form-input-horas{
    padding: 5px;
    border-radius: 8px;
    margin: 15px 0 15px 0;
    font-size: 1.5rem;
    transition: all 200ms linear;
    width: 59px;
}

.form-textarea-label{
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0 15px 0 15px;
}

.form-textarea {
    padding: 5px;
    font-size: 1.5rem;
    transition: all 200ms linear;
    resize: none;
    width: 100%;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}



.form-input-horas:focus {
    transition: all 200ms linear;
}

/* Quando o usuário clica no input */
.form-input-horas:focus::placeholder {
    transform: translate(-200px, 0px);
    transition: all 600ms ease-in-out;
}

/* Quando o usuário para de selecionar o input */
.form-input-horas:not(:focus)::placeholder{
    transform: translate(0px, 0px);
    transition: all 600ms ease-in-out;
}

.form-button{
    padding: 20px;
    margin: 20px 20px 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-family: sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid rgb(46, 46, 46);
    background-color: transparent;
    color: rgb(0, 0, 0);
    box-shadow: 
        6px 6px 0px rgb(46, 46, 46),
        5px 5px 0px rgb(46, 46, 46),
        4px 4px 0px rgb(46, 46, 46),
        3px 3px 0px rgb(46, 46, 46),
        2px 2px 0px rgb(46, 46, 46),
        1px 1px 0px rgb(46, 46, 46)
    ;
    transition: all 400ms ease-in-out;
}

.form-button:not(:disabled):hover{
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    transform: translate(5px, 5px);
    box-shadow: none;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.form-button:not(:disabled):active {
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 400ms ease-in-out;
}

.form-button:disabled{
    border: 2px solid rgb(75, 75, 75);
    background-color: transparent;
    color: rgb(75, 75, 75);
    transform: translate(5px, 5px);
    box-shadow: none;
    transition: all 400ms ease-in-out;
}

/* Divisoria */

.form-divisoria {
    height: 2px;
    width: 91%;
    background-color: var(--fundo-primaria);
    margin: 15px 0px 15px 15px;
    border-radius: 1px;
}

/* Dados */

.form-dados {
    margin: 0px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.form-dados h2 {
    font-family: sans-serif;
    font-weight: 300;
}