.ToolBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: var(--fundo-primaria);
}

.TB-item {
    width: 60px;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--texto-primaria);
    transition: 300ms ease-in-out;
}

.TB-item:hover {
    cursor: pointer;
}

:not(.TB-item-selecionado).TB-item:hover .icon{
    transform: scale(1.2);
    transition: 300ms ease-in-out;
}

.TB-item .icon {
    transition: 300ms ease-in-out;
    filter: brightness(0.7);
}

.TB-item-selecionado .icon{
    filter: brightness(1);
    transform: scale(1.3);
    transition: 300ms ease-in-out;
}