.lista-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orange;
    justify-self: baseline;
}

.lista-item {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    width: 265px;
    font-size: 1.2rem;
    font-weight: 400;
}

h4::after{
    content: '\00a0';
}

.item-inicio-fim {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.item-inicio {
    display: flex;
    align-items: center;
}

.item-fim {
    display: flex;
    align-items: center;
}

.item-desc {
    display: flex;
    align-items: center;
    align-self: center;
}

.item-total {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lista-total-box {
    border: 1px solid black;
    display: flex;
    margin-top: auto;
    align-self: center;
    width: 100%;
}

.lista-total {
    margin: 10px 15px 10px 15px;
    text-transform: uppercase;
}