.lista-box {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: baseline;
    min-width: 355px;
}

.lista-item {
    background-color: var(--fundo-primaria);
    color: var(--texto-primaria);
    border-radius: 8px;
    border-left: rgb(136, 136, 136) 10px solid;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 15px 15px;
    width: 265px;
    font-size: 1.2rem;
    font-weight: 400;
}

.lista-item:hover {
    cursor: pointer;
}

h4::after{
    content: '\00a0';
}

.item-inicio-fim {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.item-inicio {
    display: flex;
    align-items: center;
}

.item-fim {
    display: flex;
    align-items: center;
}

.item-desc {
    display: flex;
    align-items: center;
    align-self: center;
}

.item-total {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lista-total-box {
    background-color: var(--fundo-primaria);
    color: var(--texto-primaria);
    border-left: rgb(136, 136, 136) 10px solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    margin-top: auto;
    align-self: center;
    width: 100%;
    margin-left: 35px;

}

.lista-total {
    margin: 10px 15px 10px 15px;
    text-transform: uppercase;
}